APP_IMAGE=lead-mgmt:latest
FRONTEND_HOST=app.seudominio.com
TRAEFIK_CERTRESOLVER=cf
APP_REPLICAS=1

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=lead_mgmt

CHATWOOT_BASE_URL=
ACCOUNT_ID=
API_ACCESS_TOKEN=
DEFAULT_INBOX_ID=
